{% extends 'base.html.twig' %}

{% block title %}Mes favoris{% endblock %}
{% block body %}
    <h1>Mes favoris</h1>
    <form action="{{ path('app_logout') }}" method="POST">
        <button type="submit">Me deconnecter</button>
    </form> 
    <form action="{{ path('Affichageprofil') }}" method="POST">
        <button type="submit">Retour</button>
    </form>
   
  {% for ressource in ressources %}
            <li>
                Titre : {{ ressource.titreressource }}<br>
                Description : {{ ressource.descriptionressource }}<br>
                {% if ressource.fichierressource %}
                    {% if ressource.fichierressource | lower | split('.') | last == 'pdf' %}
                        <object data="{{ asset('uploads/pdfs/' ~ ressource.fichierressource) }}" type="application/pdf" width="35%" height="10%"></object><br>
                        <a href="{{ asset('uploads/pdfs/' ~ ressource.fichierressource) }}" download>Télécharger le fichier PDF</a><br>
                    {% else %}
                        <img src="{{ asset('assets/uploads/' ~ ressource.fichierressource) }}" alt="Image" width="150">
                    {% endif %}
            
                {% endif %}
            </li>
        {% endfor %}
{% endblock %}