{% extends 'base.html.twig' %}

{% block title %}Mon compte
{% endblock %}
{% block body %}
	{# Header qu'on retrouve en haut de quelques pages du site #}
	<div id="header">
		<header class="navbar navbar-expand-lgt " style="background: linear-gradient(#AB3E69, #772b49);">
			<div
				class="container-fluid">
				<!-- Logo à gauche -->
				<a class="navbar-brand" href="{{ asset('https://www.gouvernement.fr/') }}">
					<img src="{{ asset('assets/gouv.png') }}" alt="Logo du Gouvernement" height="85" style="border-radius: 50%;">
				</a>

				<!-- Titre principal centré -->
				<div class="navbar-brand mx-auto" style="color: white; font-size: 2.5rem;">
					Ressources Relationnelles
				</div>

				<!-- Logo à droite -->
				<a class="navbar-brand" href="{{ asset('Accueil') }}">
					<img src="{{ asset('assets/logo.png') }}" alt="Logo Ressources Relationnelles" height="85">
				</a>
			</div>
		</header>

	</div>

	{# Menu de navigation qu on va retrouver juste en dessous du header et sur quelques pas du site #}
	<nav class="navbar navbar-expand-lg" style="background: linear-gradient(to bottom, #772b49, #AB3E69);">
		<div class="container-fluid">
			<a class="navbar-brand text-white">Mon profil</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			{% if app.user %}
				<div class="collapse navbar-collapse justify-content-end" id="navbarNav" style="color: white;">
					<ul class="navbar-nav">
						<li class="nav-item">
							<a class="nav-link text-white" href="{{ path('Accueil') }}">Accueil</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-white" href="{{ path('AjoutRessource') }}">Partager</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-white" href="{{ path('AfficherFavoris') }}">Mes favoris</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-white" href="{{ path('app_logout') }}">Me déconnecter</a>
						</li>
					</ul>
				</div>
			{% else %}
				<div class="collapse navbar-collapse justify-content-end" id="navbarNav">
					<ul class="navbar-nav">
						<li class="nav-item">
							<a class="nav-link text-white" href="{{ path('app_login') }}">Se connecter</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-white" href="{{ path('app_register') }}">M'inscrire</a>
						</li>
					</ul>
				</div>
			{% endif %}
		</div>
	</nav>

	{# Affichage des informations de l'utilisateur #}
	<div class="row justify-content-center">
		<div class="col-12 col-md-6 text-center">
			<h2>Nom :</h2>
			<p>{{ user.nomuser }}</p>
			<h2>Prénom :</h2>
			<p>{{ user.prenomuser }}</p>
			<h2>Date de naissance :</h2>
			<p>{{ user.datenaissuser|date('d/m/Y') }}</p>
			<h2>Adresse mail :</h2>
			<p>{{ user.mailuser }}</p>
		</div>
		<div class="col-12 col-md-6 text-center">
			<h2>Photo de profil :</h2>
			<img src="{{ asset('assets/uploads/sampleAvatar.jpg') }}" class="profile-pic" style="border-radius: 50%; height: 18rem;" alt="Photo de profil">
		</div>
	</div>

	{# Affichages des ressources crées par l'utilisateur #}
</br>
<div style="margin-left: 5%; margin-right: 5%;">
	<h2>Vos Ressources :
	</h2>
</div>

<div class="d-flex overflow-x-auto " style="margin-left: 5%;">
	{% for ressource in ressources %}
		<div class="card m-2" style="width: 18rem;">
			{% if ressource.fichierressource %}
				{% if ressource.fichierressource | lower | split('.') | last == 'pdf' %}
					<object data="{{ asset('uploads/pdfs/' ~ ressource.fichierressource) }}" type="application/pdf" width="100%" height="150"></object>
				{% else %}
					<img src="{{ asset('assets/uploads/' ~ ressource.fichierressource) }}" class="card-img-top" alt="Image">
				{% endif %}
			{% endif %}
			<div class="card-body">
				<h5 class="card-title">{{ ressource.titreressource }}</h5>
				<p class="card-text">{{ ressource.descriptionressource }}</p>
			</div>
		</div>
	{% endfor %}
</div>{% endblock %}
